beautifulsoup4
cartopy
cmocean
graphviz
python-graphviz
ipython
jedi=0.17.2
jupyter
matplotlib
mock
nc-time-axis
netCDF4
nose
numpy
opencv
pandas
pillow
progressbar2
proj
pydotplus
pyproj
pyyaml
scikit-image
scikit-learn
seaborn
shapely
statsmodels
xgboost
