beautifulsoup4
cartopy
cmocean
cython
dlib
graphviz
imutils
ipython
jupyter
matplotlib
mock
nc-time-axis
netCDF4
nose
numpy
opencv
pandas
pillow
progressbar2
proj
pydotplus
pyproj
pyyaml
scikit-image
scikit-learn
seaborn
shapely
statsmodels
xgboost
